
body {
    background-color: rgba(0, 0, 0,1);
    color: white;
    font-family: Arial, sans-serif;
    
}

h1 {
    text-align: center;
    color: yellow;
    text-shadow:0 0 10px rgb(224, 182, 29);
    font-size: 5em;
}
h2 {
    text-align: center;
    color: yellow;
    text-shadow:0 0 10px rgb(224, 182, 29);
    font-size: 4.5em;
}

p {
    font-size: 2em;
    color: rgba(0, 204, 204, 0.8);
    text-shadow: 0 0 10px rgb(224, 182, 29);
    
}
.btn1{
    background-color: rgba(0, 31, 51, 0.7);
    
    padding: 1em 3em;
    border: 1em;
    margin: 20px 0;
    border-radius:100em ;
    text-align: center;
    font-family:serif;
    font: bold;
    letter-spacing: 2px;
    font-size: xx-large;
    color: white;
    box-shadow: 0 0 20px rgba(0, 31, 51, 1);


}

.btn1:hover{
    background-color: rgba(255, 255, 0,0.8);
    padding: 1em 3em;
    border: 1em;
    margin: 20px 0;
    border-radius:100em ;
    text-align: center;
    font-family:serif;
    font: bold;
    letter-spacing: 2px;
    font-size: xx-large;
    color: black;
    box-shadow: 0 0 20px yellow;
    cursor: pointer;


}
.btn1:active{
    background-color: rgba(255, 255, 0,0.6);
    padding: 1em 3em;
    border: 1em;
    margin: 20px 0;
    border-radius:100em ;
    text-align: center;
    font-family:serif;
    font: bold;
    letter-spacing: 2px;
    font-size: xx-large;
    color: black;
    box-shadow: 0 0 20px yellow;
    cursor: pointer;


}

.backgr{
    
    
    padding: 1em;
    border-radius: 100em;
    border-width: 1em;
    margin: 20px 0;
    background-color: rgba(0, 31, 51, 0.7);
    max-width: 6em;
    color: yellow;
    text-align: center;
    text-shadow:0 0 10px rgb(224, 182, 29);
    font-size: 5em;
    position:absolute;
    left: 33.7%;
    top:0%;
}


.hr1{
    
}
table{

}
tr{

}
th{

}
